#container{
	background-color:rgb(17, 38, 95);
}
#topdiv{
	display: flex;
	height:40%;
	padding-top:10px;
}
#topdiv1{
	height:100%;
	width: 25%;
}
#topdiv2{
	height:100%;
	width: 35%;
}
#topdiv3{
	height:100%;
	width: 40%;
}
#dowmdiv{
	height:58%;
	width: 100%;
}