<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

<!--sybase数据库连接配置文件 -->
<!-- <import resource="dbconfig_sybase.xml"/> -->

<!--sqlserver数据库链接配置文件 -->
<!-- <import resource="dbconfig_sqlserver.xml"/> -->

<!--mysql数据库连接配置文件 -->
<import resource="dbconfig_oracle.xml"/>

<!--bean及dao基础配置文件  -->
<import resource="baseBeanContext.xml"/>
<import resource="baseDaoContext.xml"/>


<import resource="applicationContext-base.xml"/>
<import resource="applicationContext-captcha.xml"/>
<import resource="applicationContext-dao.xml"/>
<import resource="applicationContext-msg.xml"/>
<import resource="applicationContext-tx.xml"/>

</beans>